# Binaries and build artifacts
backend/server
backend/server.exe
backend/server_linux
frontend/dist
frontend/node_modules
.env
backend/.env

# OS & Editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Docker volumes
mongo_data/
redis_data/
